/* *{
    background:#fedddd ;
    font-family: 'Poppins',sans-serif;
  }
  .abc {
    display: flex;
    flex-direction: column;
  }
  
  .accordian {
    width: 100%;
    padding: 0 3%;
    border-left: 2px solid #e79a00d2;
    margin-top: 3%;
  
  }
  
  .main {
    background: #fedddd;
    margin-bottom: 2%;
    margin-top: 5px;
    
    border-bottom: 1px solid #000000b2;
  }
  
  .title {
    color:  var(--primarycolor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
  
  .content {
    color: grey;
    font-family: serif;
    font-weight: bold;
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0, 1, 0, 1);
  }
  
  .content.show {
    height: auto;
    max-height: 9999px;
    transition: all 0.5s cubic-bezier(0, 1, 0, 1);
  }
  
  :root {
    --primarycolor: #e79a00d2;
    --softcolor: #fedddd;
    --whitecolor: #f5f5f5;
    --blackcolor: #222;
  }
  
  .header {
    background-image:url("./images/18939283816bc18797283b6b249f0401.jpg");
  
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5% 3%;
    margin: 25px 25px;
    border-radius: 20px;
    max-height: 300px;
    color: var(--whitecolor);
  }
  .header::before {
    background: rgba(0,0,0,0.4);
  }
  
  .header-title {
    font-size: 50px;
    letter-spacing: 1.5;
    margin-bottom: 10px;
    color:white;
    background: transparent;
  
  
  }
  
  .header-desc {
    font-size:19px;
    letter-spacing: 1;
    text-align: center;
    margin-top: 10px;
    color:white;
    background: transparent;
    
  }
  
  .search {
    width: 70%;
    height: 45px;
    background-color: var(--whitecolor);
    margin-top: 5%;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    padding: 5px;
  }
  
  input{
    width: 80%;
    height: 100%;
    padding: 1% 3%;
    background: transparent;
    border: none;
    padding: 0 3%;
    font-size: medium;
  }
  
  .search button {
    width: 20%;
    min-width: 100px;
    height: 100%;
    background-color: var(--primarycolor);
    color: var(--whitecolor);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    
  }
  
  .search button:hover {
    background-color: var(--blackcolor);
  }
  
  .faq {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 3%;
    display: inline;
  }
  
  .faq-name {
    flex: 0.5;
    padding-top: 25%;
    display: flex;
    flex-direction: column;
    width: 50vw;
    justify-content: center;
    margin-left: 10%;
  
  }
  
  .faq-header {
    padding: 5% 0 0 0;
    font-size: 50px;
    letter-spacing: 2;
    margin-left: 50px;
    width: fit-content;
    margin-bottom: 0;
  }
  
  .faq-img {
    width: 100%;
    max-width: 500px;
    height: 10%;
    display: inline;
    margin-top: 0;
  }
  
  .footer {
    display: flex;
    flex-direction: row;
  }
  
  @media screen and (max-width:1000px) {
    .search{
      width: 100%;
    }
    .faq-title{
      font-size: 20px;
    }
    .footer{
      display: flex;
      flex-direction: column;
    }
    .accordian{
     
        width: 100%;
        padding: 0 3%;
        border-top: 2px solid #e79a00d2;
        margin-top: 3%;
      
      
    }
  } */